rr-finished {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-md);
  scroll-snap-align: center;
  width: 100dvw;
  height: 100dvh;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  & > div:last-child {
    display: flex;
    flex-direction: column;
  }
}