rr-range {
  width: 100%;
  ul {
    display: flex;
    list-style-type: none;

    border: 5px solid var(--color-white);
    border-left: none;
    border-right: none;
    border-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    li {
      scroll-snap-align: center;
      padding: var(--spacing-lg);

      &:first-child {
        margin-left: 50%;
      }

      &:last-child {
        margin-right: 50%;
      }

      &.active {
        background-color: var(--color-green);
      }
    }
  }
}
