rr-set {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-md);
  scroll-snap-align: center;
  height: 100dvh;
  width: 100dvw;

  > div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    > img {
      min-width: 0;
      max-width: 400px;
    }
  }

  & > div:last-of-type {
    display: flex;
    flex-direction: column;
  }
}